<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d9f2d9;">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d9f2d9;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-success" th:href="@{/}">Aguacatech</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/usuarios}">Usuarios</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/productos}">Productos</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/lotes}">Lotes</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/abonos}">Abonos</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/fumigaciones}">Fumigaciones</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/riegos}">Riegos</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/productos/grafico}">Grafico</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
